<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Tu Mascota</title>
    <link href="static/css/inicio.css" rel="stylesheet" media="screen">
</head>
<body>

<div class="box">
    <ul class="nav">
            <li><a href="inicio">Inicio</a></li>
            <li><a href="veterinarias">Veterinarias</a></li>
            <li><a href="refugios">Refugios</a></li>
            <li><a href="hotel">Hotel para mascotas</a></li>
            <li><a href="nosotros">Nosotros</a></li>
            <li><a href="usuarios">Usuarios</a></li>
            <li><a href="donaciones">Donaciones</a></li>
    </ul>

    <section class="section__vet1">
        <div class="section__nav">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13103.178845057926!2d-56.0299396!3d-34.8111063!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc80ef881ec857b67!2sRyokan%20Dogs%20House!5e0!3m2!1ses-419!2suy!4v1637325041137!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>Ryokan Dogs House</h1>
                <p>Felipe Díaz Ocampo, 14000 Col Nicolich, Departamento de Canelones<br>
                    Tel: +59891796526
                </p>
            </div>
        </div>
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52395.32757000667!2d-56.00766850950716!3d-34.83843419675078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f88053796616d%3A0xb7c9347d2e8ac2d3!2sHotel%20los%20mimosos!5e0!3m2!1ses-419!2suy!4v1637327539560!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>Hotel los mimosos</h1>
                <p>5XJP+66R, 14000 Col Nicolich, Departamento de Canelones<br>
                    Tel: +59899687098
                </p>
            </div>
        </div>
    </section>
    <section class="section__vet2">
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d88067.7904854939!2d-56.086033284353626!3d-34.885392877855764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f874941fc1621%3A0x70507aae00162412!2sHotel%20de%20mascotas!5e0!3m2!1ses-419!2suy!4v1637328314426!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>Hotel de mascotas</h1>
                <p>Costa Rica 6486, 11500 Montevideo, Departamento de Montevideo<br>
                   Tel: +59899359711
                </p>
            </div>
        </div>
        <div class="section__nav">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d88067.7904854939!2d-56.086033284353626!3d-34.885392877855764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f87922fede777%3A0xd1e7ae7c6c19a53d!2sPaseamas%20-%20Guarder%C3%ADa%20%26%20Hotel%20canino!5e0!3m2!1ses-419!2suy!4v1637328409942!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>Paseamas - Guardería & Hotel canino</h1>
                <p>Havre &, 11500 Montevideo, Departamento de Montevideo<br>
                   Tel: +59898250388
                </p>
            </div>
        </div>
    </section>
    <section class="section__vet1">
        <div class="section__nav">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26251.332963294415!2d-56.387680327682475!3d-34.66943320161341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a1c60b23a470eb%3A0x96861f9a940bc246!2sParador%20Km%200%2C%20Las%20Brujas%2C%20Canelones!5e0!3m2!1ses-419!2suy!4v1637329041584!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>DogsMimos Uy Guardería De Mascotas</h1>
                <p>Ruta 48 km. 3.600, Departamento de Canelones<br>
                    Tel: +59892707823
                </p>
            </div>
        </div>
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d209605.1562695422!2d-56.054278111192126!3d-34.82906680165131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a1d32d7f5baea5%3A0x503f419ce2567b8a!2sEl%20Retorno!5e0!3m2!1ses-419!2suy!4v1637329802239!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>El Retorno</h1>
                <p>Cam. Vecinal Franco 2992, 12400 Montevideo, Departamento de Montevideo<br>
                    Tel: +59823201618
                </p>
            </div>
        </div>
    </section>
    <section class="section__vet2">
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d209605.1562695422!2d-56.054278111192126!3d-34.82906680165131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f8aa6f859eab7%3A0x36d777fb1ffc8219!2sAnimal&#39;s%20Home%20-%20Hotel%20Canino%2C%20Paseos%20y%20Dogs%20Care!5e0!3m2!1ses-419!2suy!4v1637329866155!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>Animal's Home - Hotel Canino, Paseos y Dogs Care</h1>
                <p>Av. Libertador Brig. Gral. Lavalleja 1630, 11100 Montevideo, Departamento de Montevideo <br>
                   Tel: +59892248382
                </p>
            </div>
        </div>
        <div class="section__nav">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d88111.517307614!2d-56.29404174322583!3d-34.844570440890685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a1d5d1a4358dff%3A0x19d45a6212eb6c67!2sFUN%20DAYS%20%26%20NIGHTS%20HOTEL!5e0!3m2!1ses-419!2suy!4v1637330022700!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>FUN DAYS & NIGHTS HOTEL</h1>
                <p>Nueva California 1459, 12900 Montevideo, Departamento de Montevideo<br>
                   Tel: +59898545251
                </p>
            </div>
        </div>
    </section>
    <section class="section__vet2">
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d88111.517307614!2d-56.29404174322583!3d-34.844570440890685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a1d3ac0dca3c49%3A0xe7bd8fd77b82e4e6!2sHotel%20y%20criadero%20shadows!5e0!3m2!1ses-419!2suy!4v1637330157943!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>Hotel y criadero shadows</h1>
                <p>Camino Luis Eduardo Pérez 8630, 12600 Montevideo, Departamento de Montevideo<br>
                   Tel: +59894608922
                </p>
            </div>
        </div>
        <div class="section__nav">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d148263.8775159101!2d-56.06031710486289!3d-34.800915168200284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a02e9d8315a2b3%3A0xbfee08b68258bfb7!2sHotel%20de%20Mascotas%20COLLINS!5e0!3m2!1ses-419!2suy!4v1637330259909!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>Hotel de Mascotas COLLINS</h1>
                <p>Manuel Francisco Artigas, 15700 Departamento de Canelones<br>
                   Tel: +59898375047
                </p>
            </div>
        </div>
    </section>

    <footer class="button" id="footer">
        <ul class="icons">
            <li><a href="https://www.twitter.com/" class="icon brands fa-twitter"><img src="static/img/twitter.png" width="30px" height="20px"></a></li>
            <li><a href="https://www.facebook.com/" class="icon brands fa-facebook-f"><img src="static/img/facebook.png" width="30px" height="20px"></a></li>
            <li><a href="https://www.instagram.com/" class="icon brands fa-instagram"><img src="static/img/instagram.png" width="30px" height="20px"></a></li>
            <li><a href="https://www.linkedin.com/" class="icon brands fa-linkedin"><img src="static/img/linkedin.png" width="30px" height="20px"></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved.</li>
        </ul>
    </footer>
    <div>
        {% for usuario in usuarios %}
            <p> {{ usuario }} </p>
        {% endfor %}
    </div>
</div>
</body>
</html>