<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Tu Mascota</title>
    <link href="static/css/inicio.css" rel="stylesheet" media="screen">
</head>
<body>

<div class="box">
    <section class="section1">
        <div class="section__nav">
            <a href="veterinarias"><img src="static/img/logoV.png" height="80" width="100"></a>
            <div class="section__nav--icon">
                <h1>Veterinarias</h1>
                <p>Elige a tu mascota en adopcion.</p>
            </div>
        </div>
        <div class="section__nav">
            <a href="refugios"><img src="static/img/logoR.png" height="80" width="100"></a>
            <div class="section__nav--icon">
                <h1>Refugios</h1>
                <p>Ayuda a descongestionar la sobrepoblacion en los refugios adoptando a tu futura mascota.</p>
            </div>
        </div>
    </section>
    <section class="sectionmedio">
        <div class="section__nav">
            <a href="hotel"><img src="static/img/logoH.png" height="80" width="100"></a>
            <div class="section__nav--icon">
                <h1>Hotel para mascotas</h1>
                <p>Los mejores espacios para que tus mascotas se diviertan.</p>
            </div>
        </div>
        <div class="section__nav">
            <a href="usuarios"><img src="static/img/logoU.png" height="80" width="100"></a>
            <div class="section__nav--icon">
                <h1>Usuarios</h1>
                <p>Adopta una mascota a tarves de usuarios particulares.</p>
            </div>
        </div>
    </section>
    <section class="section2">
        <div class="section__nav">
            <a href="nosotros"><img src="static/img/logoN.png" height="80" width="100"></a>
            <div class="section__nav--icon">
                <h1>Nosotros</h1>
                <p>Adopta una mascota a tarves de usuarios particulares.</p>
            </div>
        </div>
        <div class="section__nav">
            <a href="donaciones"><img src="static/img/logoD.png" height="80" width="100"></a>
            <div class="section__nav--icon">
                <h1>Donaciones</h1>
                <p>Puedes ayudar a los refugios donando alimentos, juguetes, abrigo o dinero.</p>
            </div>
        </div>
    </section>

    <footer class="button" id="footer">
        <ul class="icons">
            <li><a href="https://www.twitter.com/" class="icon brands fa-twitter"><img src="static/img/twitter.png" width="30px" height="20px"></a></li>
            <li><a href="https://www.facebook.com/" class="icon brands fa-facebook-f"><img src="static/img/facebook.png" width="30px" height="20px"></a></li>
            <li><a href="https://www.instagram.com/" class="icon brands fa-instagram"><img src="static/img/instagram.png" width="30px" height="20px"></a></li>
            <li><a href="https://www.linkedin.com/" class="icon brands fa-linkedin"><img src="static/img/linkedin.png" width="30px" height="20px"></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved.</li>
        </ul>
    </footer>
</div>
</body>
</html>
