<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Tu Mascota</title>
    <link href="static/css/inicio.css" rel="stylesheet" media="screen">
</head>
<body>

<div class="box">
    <ul class="nav">
            <li><a href="inicio">Inicio</a></li>
            <li><a href="veterinarias">Veterinarias</a></li>
            <li><a href="refugios">Refugios</a></li>
            <li><a href="hotel">Hotel para mascotas</a></li>
            <li><a href="nosotros">Nosotros</a></li>
            <li><a href="usuarios">Usuarios</a></li>
            <li><a href="donaciones">Donaciones</a></li>
    </ul>
    <section class="section1">
        <div class="section__nav">
            <a href="Toby"><img src="uploads/mascota1_1.jpg" height="210" width="250"></a>
            <div class="section__nav--icon">
                <h1>Toby</h1>
                <p>Ubicado en refugio "Bastet"</p>
            </div>
        </div>
        <div class="section__nav">
            <a href="Rocky"><img src="uploads/mascota2_2.jpg" height="210" width="250"></a>
            <div class="section__nav--icon">
                <h1>Rocky</h1>
                <p>Ubicado en refugio "Animal Help"</p>
            </div>
        </div>
    </section>
    <section class="sectionmedio">
        <div class="section__nav">
            <a href="Zeus"><img src="uploads/mascota3_3.jpg" height="210" width="250"></a>
            <div class="section__nav--icon">
                <h1>Zeus</h1>
                <p>Ubicado en refugio "La costa bichera"</p>
            </div>
        </div>
        <div class="section__nav">
            <a href="Nina"><img src="uploads/mascota4_4.jpg" height="210" width="250"></a>
            <div class="section__nav--icon">
                <h1>Nina</h1>
                <p>Ubicada en "regufio pga"</p>
            </div>
        </div>
    </section>
    <section class="section2">
        <div class="section__nav">
            <a href="Luli"><img src="uploads/mascota5_5.jpg" height="210" width="250"></a>
            <div class="section__nav--icon">
                <h1>Luli</h1>
                <p>Ubicada en "refugio UPI".</p>
            </div>
        </div>
        <div class="section__nav">
            <a href="Milo"><img src="uploads/mascota6_6.jpg" height="210" width="250"></a>
            <div class="section__nav--icon">
                <h1>Milo</h1>
                <p>Ubicado en refugio "protectora de animales maldonado".</p>
            </div>
        </div>
    </section>

    <form action="/upload", method="POST" enctype="multipart/form-data">
    <input type="file" name="ourfile">
    <input type="submit" value="Enviar">
    </form>

    <h1 class="Subir imágen"><br><strong>Refugios</strong></h1>

    <section class="section__vet2">
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d74028.73748342991!2d-56.19181794391369!3d-34.91551059473948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f802db730ab61%3A0xdd9f15bd2ff84ea1!2sEl%20Refugio!5e0!3m2!1ses-419!2suy!4v1637325585786!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>El Refugio</h1>
                <p>Av. Uruguay 1016, 11100 Montevideo, Departamento de Montevideo<br>
                    Tel: No hay datos.
                </p>
            </div>
        </div>
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18507.849523461122!2d-56.20475669864065!3d-34.91256035990848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81e2088507c7%3A0x82d201e06dcd7ad0!2sBastet!5e0!3m2!1ses-419!2suy!4v1637326062612!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>Bastet</h1>
                <p>Paraguay 1506, 11100 Montevideo, Departamento de Montevideo<br>
                    Tel: +59891959259
                </p>
            </div>
        </div>
    </section>
    <section class="section__vet2">
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d431276.90278326103!2d-56.170155921090355!3d-34.87049814034863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a02440f428865f%3A0x4acec960e09abb75!2sAnimal%20Help!5e0!3m2!1ses-419!2suy!4v1637326321097!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>Animal Help</h1>
                <p>824Q+3GX, 15600 Pando, Departamento de Canelones<br>
                   Tel: +59894676181
                </p>
            </div>
        </div>
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d430972.6342993023!2d-56.17863711011562!3d-34.92846402743985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f8a171e4535dd%3A0xb0edbc5627160ae!2sLa%20Costa%20Bichera!5e0!3m2!1ses-419!2suy!4v1637326389206!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>La Costa Bichera</h1>
                <p>Murillo, 15800 Ciudad de la Costa, Departamento de Canelones<br>
                   Tel: +59894636115
                </p>
            </div>
        </div>
    </section>
    <section class="section__vet2">
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d430972.6342993023!2d-56.17863711011562!3d-34.92846402743985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a1d4099e1b2977%3A0xcdda0eecf63464bd!2sRefugio%20UPI%20(%20privado!5e0!3m2!1ses-419!2suy!4v1637326458385!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>Refugio UPI</h1>
                <p>Unnamed Road, 12600 Montevideo<br>
                   Tel: +59896413808
                </p>
            </div>
        </div>
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d418815.42776921863!2d-55.20824632685923!3d-34.9065617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95751adfb4b51d87%3A0xf36ae783d0dfdceb!2sProtectora%20de%20Animales%20Maldonado!5e0!3m2!1ses-419!2suy!4v1637326553370!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>Protectora de Animales Maldonado</h1>
                <p>Unnamed Rd<br>
                    Tel: +59898565845
                </p>
            </div>
        </div>
    </section>
    <section class="section__vet2">
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52378.43599322088!2d-56.37511854726562!3d-34.864964257133295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a1d705101dc451%3A0xc71ffc240bc26a22!2sRefugio%20pga!5e0!3m2!1ses-419!2suy!4v1637326802180!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>Refugio pga</h1>
                <p>Cam. Juan Torora 5266, 12800 Montevideo, Departamento de Montevideo<br>
                   Tel: No hay datos.
                </p>
            </div>
        </div>
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1638.6155822108065!2d-55.84081577531601!3d-34.77495542565061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959ff5e107e281e3%3A0xb64fc3b09fb4f57f!2sMULTISERVICIOS%20SUGA.%20La%20soluci%C3%B3n%20integral%20para%20su%20empresa%20y%20hogar!5e0!3m2!1ses-419!2suy!4v1637327743397!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="section__nav--icon">
                <h1>Refugio</h1>
                <p>Los datos no son claros.<br>
                   Tel: +59895857944
                </p>
            </div>
        </div>
    </section>

    <footer class="button" id="footer">
        <ul class="icons">
            <li><a href="https://www.twitter.com/" class="icon brands fa-twitter"><img src="static/img/twitter.png" width="30px" height="20px"></a></li>
            <li><a href="https://www.facebook.com/" class="icon brands fa-facebook-f"><img src="static/img/facebook.png" width="30px" height="20px"></a></li>
            <li><a href="https://www.instagram.com/" class="icon brands fa-instagram"><img src="static/img/instagram.png" width="30px" height="20px"></a></li>
            <li><a href="https://www.linkedin.com/" class="icon brands fa-linkedin"><img src="static/img/linkedin.png" width="30px" height="20px"></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved.</li>
        </ul>
    </footer>
    <div>
        {% for usuario in usuarios %}
            <p> {{ usuario }} </p>
        {% endfor %}
    </div>


</div>
</body>
</html>
