<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Tu Mascota</title>
    <link href="static/css/inicio.css" rel="stylesheet" media="screen">
</head>
<body>

<div class="box">
    <ul class="nav">
            <li><a href="inicio">Inicio</a></li>
            <li><a href="veterinarias">Veterinarias</a></li>
            <li><a href="refugios">Refugios</a></li>
            <li><a href="hotel">Hotel para mascotas</a></li>
            <li><a href="nosotros">Nosotros</a></li>
            <li><a href="usuarios">Usuarios</a></li>
            <li><a href="donaciones">Donaciones</a></li>
    </ul>

    <section class="section__vet2">
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.5136636159364!2d-56.18763338518472!3d-34.89355688039752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f8039e7ef7611%3A0x90fa1d07f32c8ea6!2sAgroveterinaria%20El%20Lugar!5e0!3m2!1ses-419!2suy!4v1637111912418!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="section__nav--icon">
                <h1>Agroveterinaria El Lugar</h1>
                <p>Magallanes 2001, Montevideo 11800, 11800.
                    +59829244009
                </p>
            </div>
        </div>
        <div class="section__vet3">
            <iframe src=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13089.218376951143!2d-56.1888943599282!3d-34.89880489058447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f8049e08f2831%3A0x66c4f2f1386ef24a!2sVeterinaria%20Aguada!5e0!3m2!1ses-419!2suy!4v1637282622875!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="section__nav--icon">
                <h1>Veterinaria Aguada</h1>
                <p>Daniel Fernández Crespo 1941, 11800 Montevideo, Departamento de Montevideo<br>
                    Tel: +59829290687
                </p>
            </div>
        </div>
    </section>
    <section class="section__vet2">
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.2313343177557!2d-56.193760785184395!3d-34.90064368077534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f8031f734f93b%3A0x76ad10feccfa61c1!2sClinica%20Veterinaria%20EL%20RASTRO!5e0!3m2!1ses-419!2suy!4v1637112609332!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="section__nav--icon">
                <h1>Clinica Veterinaria EL RASTRO</h1>
                <p>Av. Libertador Brig. Gral. Lavalleja 1630, 11100 Montevideo, Departamento de Montevideo <br>
                   Tel: +59829081208
                </p>
            </div>
        </div>
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.0888440294602!2d-56.15468638518525!3d-34.87911527962784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f80f159951951%3A0x41230f189290f488!2sveterinaria%20barriola!5e0!3m2!1ses-419!2suy!4v1637112960596!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="section__nav--icon">
                <h1>Veterinaria Barriola</h1>
                <p>Avda. Damaso Antonio Larrañaga, 11600 Montevideo, Departamento de Montevideo <br>
                   Tel: +59824807060
                </p>
            </div>
        </div>
    </section>
    <section class="section__vet2">
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.5136636159364!2d-56.18763338518472!3d-34.89355688039752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f8039e7ef7611%3A0x90fa1d07f32c8ea6!2sAgroveterinaria%20El%20Lugar!5e0!3m2!1ses-419!2suy!4v1637111912418!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="section__nav--icon">
                <h1>Agroveterinaria El Lugar</h1>
                <p>Magallanes 2001, Montevideo 11800, 11800.
                    +59829244009
                </p>
            </div>
        </div>
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.4627972055846!2d-56.191305585184644!3d-34.89483378046563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f803a7ba6dabb%3A0xe236f2065deedcba!2sDr.VET!5e0!3m2!1ses-419!2suy!4v1637112349999!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="section__nav--icon">
                <h1>Dr.VET</h1>
                <p>Av. Libertador Brig. Gral. Lavalleja 1957, 11800 Montevideo, Departamento de Montevideo <br>
                    Tel: +59829241242
                </p>
            </div>
        </div>
    </section>
    <section class="section__vet2">
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.2313343177557!2d-56.193760785184395!3d-34.90064368077534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f8031f734f93b%3A0x76ad10feccfa61c1!2sClinica%20Veterinaria%20EL%20RASTRO!5e0!3m2!1ses-419!2suy!4v1637112609332!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="section__nav--icon">
                <h1>Clinica Veterinaria EL RASTRO</h1>
                <p>Av. Libertador Brig. Gral. Lavalleja 1630, 11100 Montevideo, Departamento de Montevideo <br>
                   Tel: +59829081208
                </p>
            </div>
        </div>
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.0888440294602!2d-56.15468638518525!3d-34.87911527962784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f80f159951951%3A0x41230f189290f488!2sveterinaria%20barriola!5e0!3m2!1ses-419!2suy!4v1637112960596!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="section__nav--icon">
                <h1>Veterinaria Barriola</h1>
                <p>Avda. Damaso Antonio Larrañaga, 11600 Montevideo, Departamento de Montevideo <br>
                   Tel: +59824807060
                </p>
            </div>
        </div>
    </section>
    <section class="section__vet2">
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18509.017632068113!2d-56.17684810026107!3d-34.90737877435656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81b25eb68081%3A0xdbfda57587350eb0!2zTGFpa2EgfCBDb3Jkw7Nu!5e0!3m2!1ses-419!2suy!4v1637283249302!5m2!1ses-419!2suy" width="130" height="130" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="section__nav--icon">
                <h1>Laika | Cordón</h1>
                <p>Av. Gral. Rivera 2056, 11300 Montevideo, Departamento de Montevideo<br>
                   Tel: +59824012824
                </p>
            </div>
        </div>
        <div class="section__vet3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18509.017632068113!2d-56.17684810026107!3d-34.90737877435656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81aa76f94725%3A0xf40224617c2df9a8!2sLaika%20%7C%20Av.%20Brasil!5e0!3m2!1ses-419!2suy!4v1637283091847!5m2!1ses-419!2suy" width="130" height="130" style="..." allowfullscreen="" loading="lazy"></iframe>
            <div class="section__nav--icon">
                <h1>Laika | Av. Brasil</h1>
                <p>Av. Brasil 2711, 11300 Montevideo, Departamento de Montevideo<br>
                   Tel: +59827088105
                </p>
            </div>
        </div>
    </section>

    <footer class="button" id="footer">
        <ul class="icons">
            <li><a href="https://www.twitter.com/" class="icon brands fa-twitter"><img src="static/img/twitter.png" width="30px" height="20px"></a></li>
            <li><a href="https://www.facebook.com/" class="icon brands fa-facebook-f"><img src="static/img/facebook.png" width="30px" height="20px"></a></li>
            <li><a href="https://www.instagram.com/" class="icon brands fa-instagram"><img src="static/img/instagram.png" width="30px" height="20px"></a></li>
            <li><a href="https://www.linkedin.com/" class="icon brands fa-linkedin"><img src="static/img/linkedin.png" width="30px" height="20px"></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved.</li>
        </ul>
    </footer>
    <div>
        {% for usuario in usuarios %}
            <p> {{ usuario }} </p>
        {% endfor %}
    </div>

</div>
</body>
</html>
